{% extends 'base.html' %}

{%block content%}

{%if categoria%}
	<h2>Posts que coinciden con la categoria {{categoria.nombre}}</h2>
{%else%}	
	<h2>Enlistamos todos los posts</h2>
{%endif%}	

		{%for post in posts%}
		<a href="{{post.get_absolute_url}}">
			<h3>{{post.titulo}}</h3>
		</a>
		<img src='{{post.imagen.url}}'>
		<ul>
			{%for cat in post.categorias.all%}
			<a href="{%url 'categoria' cat.nombre%}">
			<li>{{cat.nombre}}</li>
		    </a>
			{%empty%}
			<p>No hay categoria</p>
			{%endfor%}
		</ul>
			<p>{{post.cuerpo | truncatewords:30}}</p>
			<span>{{post.fecha}}</span>
		{%empty%}
		<h1>No hay posts morro U_U</h1>
		{%endfor%}


{%endblock content%}