{% extends 'base.html' %}

{%block content%}

{%if categoria%}
	<h2>Posts que coinciden con la categoria {{categoria.nombre}}</h2>
{%else%}	
	<h2>Reuniones disponibles</h2>
{%endif%}	

 <div class="row">

<div class="row col m10">
{%for post in posts%}
 
        <div class="col s4">
          <div class="card hoverable">
            <div class="card-image">
            
              <img src="{{post.imagen.url}}" width="200" height="250">
              <span class="card-title">{{post.titulo}}</span>
            </div>
            <div class="card-content">
              {%for cat in post.categoria.all%}
			<a href="{%url 'categoria' cat.nombre%}">
			<li>{{cat.nombre}}</li>
		    </a>
			{%empty%}
			<p>No hay categoria</p>
			{%endfor%}
            </div>
            <div class="card-action">
              <a href="{{post.get_absolute_url}}"><h7>{{post.titulo}}</h7></a>
            </div>
          </div>
        </div>
 
{%endfor%}
</div>

</div>



{%endblock content%}