{% extends 'base.html' %}

{%block content%}

<h1>Hola, {{request.user.first_name}} {{request.user.last_name}}</h1>

{%if request.user.is_authenticated%}
	<h5>Correo electrónico: {{request.user.email}}</h5>

	<p>Bio: {{request.user.perfil.bio}}</p>
	<p>Ocupacion: {{request.user.perfil.ocupacion}}</p>
	<p>Sexo: {{request.user.perfil.sexo}}</p>
	<p>Fecha de nacimiento: {{request.user.perfil.fecha_nacimiento}}</p>

	</br></br></br></br>

	<h5>Si necesitas cambiar tus datos, solicítalo al administrador</h5>


{%else%}
<h2>Porque no inicias sesion?</h2>
{%endif%}


{%endblock content%}